<div>
  <div class="status">{{status}}</div>
  <div class="board-row">
    <app-square [value]="squares[0]"></app-square>
    <app-square [value]="squares[1]"></app-square>
    <app-square [value]="squares[2]"></app-square>
  </div>
  <div class="board-row">
    <app-square [value]="squares[3]"></app-square>
    <app-square [value]="squares[4]"></app-square>
    <app-square [value]="squares[5]"></app-square>
  </div>
  <div class="board-row">
    <app-square [value]="squares[6]"></app-square>
    <app-square [value]="squares[7]"></app-square>
    <app-square [value]="squares[8]"></app-square>
  </div>
</div>
